/* _sass/_base.scss */

  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    font-family: $font-stack;
    color: $text-color;
    background-color: $background-color;
    line-height: 1.6;
  }

  p {
    font-size: 1.2em;
    margin-bottom: $base-spacing;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-stack;
    color: $text-color;
    margin-bottom: $base-spacing / 2;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }
  
  /* Links */
  a {
    color: $a-color;
    text-decoration: none;
    @include transition(color 0.3s ease);
  
    &:hover {
      color: darken($a-color, 10%);
      text-decoration: underline;
    }
  }

  /* Bold */
  strong {
    font-weight: bold;
    color:$bold-color;
  }

  /* Italics */
  em {
    font-style: italic;
  }
  