/* _sass/_variables.scss */

/* Color Variables */
$button-color: #3498db;
$background-color: #f4f4f4;
$text-color: #333;
$header-color: #999;
$footer-color: #333;
$a-color: #7e808d;
$card-color: #fff;
$hero-color: #000000;
$bold-color: #5130bd;

/* Typography */
$font-stack: 'Arial', 'Sans-Serif';
$heading-font-stack: 'Helvetica', 'Arial', 'Sans-Serif';

/* Spacing */
$base-spacing: 16px;
